---
- name: Create Consul service definitions
  include_role: name=infra-role-consul-service
  vars:
    consul_config_name:                      '{{ erigon_consul_config_name }}'
    consul_default_check_disabled:           '{{ erigon_consul_check_disabled }}'
    consul_default_check_interval:           '{{ erigon_consul_check_interval }}'
    consul_default_check_timeout:            '{{ erigon_consul_check_timeout }}'
    consul_default_success_before_passing:   '{{ erigon_consul_success_before_passing }}'
    consul_default_failures_before_warning:  '{{ erigon_consul_failures_before_warning }}'
    consul_default_failures_before_critical: '{{ erigon_consul_failures_before_critical }}'
    consul_services:
      - id:       '{{ erigon_cont_name }}'
        name:     '{{ erigon_consul_service_name }}'
        tags:     '{{ erigon_consul_tags }}'
        port:     '{{ erigon_port }}'
        address:  '{{ ansible_host }}'
        meta:
          node_addr:  '{{ node_info.json.result.id }}'
          node_enode: '{{ node_info.json.result.enode }}'
          network:    '{{ erigon_network_name }}'
          version:    '{{ erigon_cont_tag | regex_replace("^v", "") }}'
        checks:
          - id: '{{ erigon_cont_name }}-status'
            type: tcp
            tcp: '127.0.0.1:{{ erigon_port }}'

      - id:       '{{ erigon_cont_name }}-rpc'
        name:     '{{ erigon_consul_service_name }}-rpc'
        tags:     '{{ erigon_consul_tags + ["rpc"] }}'
        port:     '{{ erigon_rpc_port }}'
        address:  '{{ ansible_local.wireguard.address }}'
        disabled: '{{ not erigon_rpc_enabled }}'
        meta:
          network: '{{ erigon_network_name }}'
          url:     'http://{{ ansible_local.wireguard.address }}:{{ erigon_rpc_port }}'
          version: '{{ erigon_cont_tag | regex_replace("^v", "") }}'
        checks:
          - id: '{{ erigon_cont_name }}-rpc-status'
            type: 'script'
            script: '{{ erigon_rpc_wrapper }} eth_syncing'
            timeout: '5s'

      - id:       '{{ erigon_cont_name }}-authrpc'
        name:     '{{ erigon_consul_service_name }}-authrpc'
        tags:     '{{ erigon_consul_tags + ["authrpc", "engine"] }}'
        port:     '{{ erigon_authrpc_port }}'
        address:  '{{ ansible_local.wireguard.address }}'
        disabled: '{{ not erigon_authrpc_enabled }}'
        meta:
          network: '{{ erigon_network_name }}'
          url:     'http://{{ ansible_local.wireguard.address }}:{{ erigon_authrpc_port }}'
          version: '{{ erigon_cont_tag | regex_replace("^v", "") }}'
        checks:
          - id: '{{ erigon_cont_name }}-authrpc-status'
            type: 'tcp'
            tcp: 'localhost:{{ erigon_authrpc_port }}'

      - id:       '{{ erigon_cont_name }}-metrics'
        name:     '{{ erigon_metrics_consul_service_name }}'
        tags:     '{{ erigon_consul_tags + ["metrics"] }}'
        port:     '{{ erigon_metrics_port }}'
        address:  '{{ ansible_local.wireguard.address }}'
        disabled: '{{ not erigon_metrics_enabled }}'
        meta:
          network:   '{{ erigon_network_name }}'
          container: '{{ erigon_service_name | mandatory }}'
          version:   '{{ erigon_cont_tag | regex_replace("^v", "") }}'
        checks:
          - id: '{{ erigon_cont_name }}-metrics-status'
            type: 'tcp'
            tcp: 'localhost:{{ erigon_metrics_port }}'
